@import "../utilities/mixins";
@import "../utilities/variables";
.subTitulo{
    font-family: $fontF;
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.seccionImagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    justify-items: center;
    align-items: center;
    padding-bottom: 5rem;
    flex-wrap: wrap;
    margin: 0px 30px 0px 30px;
    img{
        border-left: 7px solid $color3;
        border-right: 7px solid $color3;
        border-bottom: 7px solid $color3;
        border-top: 7px solid $color3;
        border-radius: 15px;
        height: 100%;
        width: 100%;
    }
}